<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CORHUILA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        Inicio de Sesión
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="user" type="text" name="user"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" [color]="getButtonColor()" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
  </ion-content>


  <ion-list>
    <ion-item *ngFor="let values of product; let position = index" [ngClass]="getRowClass(values)">
      <ion-label><b>Nombre:</b> {{ values.nombre }}</ion-label>
      <ion-label><b>Precio:</b> {{ values.precio }}</ion-label>
      <ion-label><b>Cantidad:</b> {{ values.cantidad }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let person of people; let position = index" (click)="personDetail(person)" 
    (click)="toggleClicked(position)"
    [ngClass]="{'clicked': isClicked[position]}">
      <ion-label><b>Nombre:</b> {{person.name}}</ion-label>
      <ion-label><b>Edad:</b> {{person.age}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)=" show()" color="warning" expand="block" shape="round">
    Show / Hide
  </ion-button>

</ion-content>